#abbreviationBox {
    -fx-background-color: #ededed;
    -fx-pref-Width:380px;
    -fx-pref-Height:50px;
    -fx-border-width: 3;
    -fx-border-color: #828081;
    -fx-border-radius: 10px;
}

AnchorPane #abbreviation{
    -fx-font-size: 20;
}

#like{
    -fx-pref-height: 30;
    -fx-pref-width: 30;
}

#dislike{
    -fx-pref-height: 30;
    -fx-pref-width: 30;
}


AnchorPane #department{
    -fx-font-size: 15;
    -fx-text-inner-color: #828081;
}
#new_Abbreviations{
    -fx-spacing: 10;
}


VBox{
}