/*@font-face {*/
/*    font-family: rebotos;*/
/*    src: url("FontWeb.ttf") format("truetype");*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*}*/



AnchorPane Button{
    -fx-display:block;
    -fx-background-color: #01689b;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-radius: 1;

}

AnchorPane Button:hover{
    -fx-underline: true;

}

Label {
    -fx-background-color: #01689b;
    -fx-text-fill: white;
    -fx-label-padding: 20px;
}

.abrAddAnchorpane{
    -fx-background-color: #ededed;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #828081;
    -fx-border-radius: 10;

}

#ChooseDep{

}