/* global */
* {
    -fx-primaryColor: #01689B;
    -fx-secondaryColor: #FE9764;
    -fx-greyColor: #EDEDED;
    -fx-greyBorderColor: #DDDDDD;
    -fx-greenColor: #07EA80;
    -fx-redColor: #FF665B;
    -fx-unapprovedColor: #DBBCBC;
    -fx-unapprovedBorderColor: #DB6767;
    -fx-font-family: "RijksoverheidFont";
}

Button {
    -fx-cursor: hand;
}

.greybox {
    -fx-background-color: -fx-greyColor;
    -fx-border-color: -fx-greyBorderColor;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-background-insets: 5px;
}

.whitebox {
    -fx-background-color: white;
    -fx-border-color: -fx-greyBorderColor;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-background-insets: 5px;
}

.depcombo {
    -fx-cursor: hand;
    -fx-background-color: -fx-greyColor;
    -fx-border-color: -fx-greyBorderColor;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
}

.standard-textfield {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.standard-btn {
    -fx-text-fill: white;
    -fx-background-color: -fx-primaryColor;
}

.standard-btn:hover {
    -fx-background-color: derive(-fx-primaryColor, 30%);
}

.title-lbl {
    -fx-font-weight: bold;
}

.labelH {
    -fx-background-color: -fx-primaryColor;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-label-padding: 20px;
}

.search-btn {
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/images/magnifying_glass.png");
}

.abbrpane {
    -fx-background-color: transparent;
}

.abbrpane:horizontal, .abbrpane:vertical{
    -fx-background-color: transparent;
}

.abbrpane:horizontal .track, .abbrpane:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.abbrpane .thumb, .abbrpane:vertical .thumb {
    -fx-background-color: -fx-primaryColor;
    -fx-background-radius: 5px;
}

.abbrpane .thumb:hover {
    -fx-background-color: derive(-fx-primaryColor, -20%);
}

.abbrbox, .unapprovedbox {
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
}

.abbrbox {
    -fx-background-color: -fx-greyColor;
    -fx-border-color: -fx-greyBorderColor;
}

.abbrbox:hover {
    -fx-background-color: derive(-fx-greyColor, 30%);
}

.unapprovedbox {
    -fx-background-color: -fx-unapprovedColor;
    -fx-border-color: -fx-unapprovedBorderColor;
}

.unapprovedbox:hover {
    -fx-background-color: derive(-fx-unapprovedColor, 30%);
}

.abbrletters {
    -fx-font-weight: bold;
}

.abbricon {
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

.abbricon:hover, .search-btn:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.abbrlike {
    -fx-background-image: url("/images/like.png");
}

.abbrremove {
    -fx-background-image: url("/images/remove.png");
}

.abbredit {
    -fx-background-image: url("/images/edit.png");
}

/* navigation bar */
.navlogo {
    -fx-background-color: -fx-greyColor;
}

.navlogo ImageView {
    -fx-cursor: hand;
}

.navbar Button {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-color: -fx-primaryColor;
}

.navbar Button:hover {
    -fx-underline: true;
}

/* game */
.game-btn-container Button {
    -fx-text-fill: white;
    -fx-background-color: -fx-primaryColor;
    -fx-font-size: 12px;
    -fx-border-radius: 3px;
}

.game-btn-container Button:hover {
    -fx-background-color: derive(-fx-primaryColor, -30%);
}

.gamelbl {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.startbtn {
    -fx-background-color: -fx-greenColor;
}

.startbtn:hover {
    -fx-background-color: derive(-fx-greenColor, -30%);
}

.stopbtn {
    -fx-background-color: -fx-redColor;
}

.stopbtn:hover {
    -fx-background-color: derive(-fx-redColor, -30%);
}

.okaybtn {
    -fx-text-fill: white;
    -fx-background-color: -fx-primaryColor;
    -fx-border-style: none;
}

.okaybtn:hover {
    -fx-background-color: derive(-fx-primaryColor, 30%);
}